In [1]:
import pandas as pd
import numpy as np

In [2]:
# create an empty DataFrame with columns

columns = ["Amount", "Category", "Description", "Y", "M", "D", "Type"]

df = pd.DataFrame(columns=columns)

In [3]:
df

Empty DataFrame
Columns: [Amount, Category, Description, Y, M, D, Type]
Index: []

In [4]:
# add a row to the DataFrame

df = df.append(
    {
        "Amount": 100,
        "Category": "Food",
        "Description": "Pizza",
        "Y": 2024,
        "M": 5,
        "D": 1,
        "Type": 0,
    },
    ignore_index=True,
)
df

/tmp/ipykernel_4724/3814888302.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'Amount': 100, 'Category': 'Food', 'Description': 'Pizza', 'Y': 2024, 'M': 5, 'D': 1, 'Type': 0}, ignore_index=True)

  Amount Category Description     Y  M  D Type
0    100     Food       Pizza  2024  5  1    0

In [5]:
df = df.append(
    {
        "Amount": 25,
        "Category": "Food",
        "Description": "Cena",
        "Y": 2024,
        "M": 4,
        "D": 2,
        "Type": 0,
    },
    ignore_index=True,
)
df = df.append(
    {
        "Amount": 10,
        "Category": "Sport",
        "Description": "Calcetto",
        "Y": 2024,
        "M": 5,
        "D": 3,
        "Type": 0,
    },
    ignore_index=True,
)
df = df.append(
    {
        "Amount": 70,
        "Category": "Bollette",
        "Description": "Luce",
        "Y": 2024,
        "M": 4,
        "D": 5,
        "Type": 0,
    },
    ignore_index=True,
)
df = df.append(
    {
        "Amount": 14,
        "Category": "Food",
        "Description": "spesa",
        "Y": 2024,
        "M": 5,
        "D": 7,
        "Type": 0,
    },
    ignore_index=True,
)
df = df.append(
    {
        "Amount": 33,
        "Category": "Bollette",
        "Description": "gas",
        "Y": 2024,
        "M": 3,
        "D": 1,
        "Type": 0,
    },
    ignore_index=True,
)

/tmp/ipykernel_4724/1584297082.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'Amount': 25, 'Category': 'Food', 'Description': 'Cena', 'Y': 2024, 'M': 4, 'D': 2,'Type': 0}, ignore_index=True)
/tmp/ipykernel_4724/1584297082.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'Amount': 10, 'Category': 'Sport', 'Description': 'Calcetto', 'Y': 2024, 'M': 5, 'D': 3,'Type': 0}, ignore_index=True)
/tmp/ipykernel_4724/1584297082.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'Amount': 70, 'Category': 'Bollette', 'Description': 'Luce', 'Y': 2024, 'M': 4, 'D': 5,'Type': 0}, ignore_index=True)
/tmp/ipykernel_4724/1584297082.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'Amount': 14, 'Category': 'Food', 'Description': 'spesa', 'Y': 2024, 'M': 5, 'D': 7,'Type': 0}, ignore_index=True)
/tmp/ipykernel_4724/1584297082.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'Amount': 33, 'Category': 'Bollette', 'Description': 'gas', 'Y': 2024, 'M': 3, 'D': 1,'Type': 0}, ignore_index=True)

In [6]:
df

  Amount  Category Description     Y  M  D Type
0    100      Food       Pizza  2024  5  1    0
1     25      Food        Cena  2024  4  2    0
2     10     Sport    Calcetto  2024  5  3    0
3     70  Bollette        Luce  2024  4  5    0
4     14      Food       spesa  2024  5  7    0
5     33  Bollette         gas  2024  3  1    0

In [7]:
df["Amount"].sum()

252

In [8]:
df[df["Category"] == "Food"]["Amount"].sum()

139

In [11]:
df[df["Category"] == "Bollette"]

  Amount  Category Description     Y  M  D Type
3     70  Bollette        Luce  2024  4  5    0
5     33  Bollette         gas  2024  3  1    0

In [12]:
df[df["M"] == 5]

  Amount Category Description     Y  M  D Type
0    100     Food       Pizza  2024  5  1    0
2     10    Sport    Calcetto  2024  5  3    0
4     14     Food       spesa  2024  5  7    0

In [2]:
class wallet:
    def __init__(self):
        self.df = pd.DataFrame(
            columns=["Amount", "Category", "Description", "Y", "M", "D", "Type"]
        )
        self.outcome = self.df[self.df["Type"] == 0]["Amount"].sum()
        self.income = self.df[self.df["Type"] == 1]["Amount"].sum()
        self.amount = self.income - self.outcome
        self.categories = self.df["Category"].unique()
        self.start_date = (
            self.df["Y"].min(),
            self.df[self.df["Y"] == self.df["Y"].min()]["M"].min(),
        )
        self.end_date = (
            self.df["Y"].max(),
            self.df[self.df["Y"] == self.df["Y"].max()]["M"].max(),
        )

    def add(
        self,
        amount: float,
        category: str,
        description: str,
        y: int,
        m: int,
        d: int,
        type: bool = 0,
    ):

        if type == 0:
            amount = -amount

        # non usare append, è lento
        self.df = pd.concat(
            [
                self.df,
                pd.DataFrame(
                    {
                        "Amount": [amount],
                        "Category": [category],
                        "Description": [description],
                        "Y": [y],
                        "M": [m],
                        "D": [d],
                        "Type": [type],
                    }
                ),
            ],
            ignore_index=True,
        )

        self.outcome = self.df[self.df["Type"] == 0]["Amount"].sum()
        self.income = self.df[self.df["Type"] == 1]["Amount"].sum()
        self.amount = self.income - self.outcome
        self.categories = self.df["Category"].unique()
        self.start_date = (
            self.df["Y"].min(),
            self.df[self.df["Y"] == self.df["Y"].min()]["M"].min(),
        )
        self.end_date = (
            self.df["Y"].max(),
            self.df[self.df["Y"] == self.df["Y"].max()]["M"].max(),
        )

    def total(self):
        return self.df["Amount"].sum()

    def total_category(self, category):
        return self.df[self.df["Category"] == category]["Amount"].sum()

    def total_month(self, m):
        return self.df[self.df["M"] == m]["Amount"].sum()

    def list_category(self, category):
        return self.df[self.df["Category"] == category]

    def list_month(self, m):
        return self.df[self.df["M"] == m]

    def list_all(self):
        return self.df

    def list_income(self):
        return self.df[self.df["Type"] == 1]

    def list_outcome(self):
        return self.df[self.df["Type"] == 0]

    def __repr__(self) -> str:
        return self.df.__repr__()

    def __str__(self) -> str:
        return self.df.__str__()

    def __len__(self):
        return self.df.__len__()

    def __iter__(self):
        return self.df.__iter__()

In [3]:
wallet = wallet()
wallet.list_all()

Empty DataFrame
Columns: [Amount, Category, Description, Y, M, D, Type]
Index: []

In [4]:
wallet.add(25, "Food", "Cena", 2024, 4, 2, 0)
wallet.add(100, "Food", "Pizza", 2024, 5, 1, 0)
wallet.add(10, "Sport", "Calcetto", 2024, 5, 3, 0)
wallet.add(70, "Bollette", "Luce", 2024, 4, 5, 0)
wallet.add(14, "Food", "spesa", 2024, 5, 7, 0)
wallet.add(33, "Bollette", "gas", 2024, 3, 1, 0)
wallet.add(1000, "Stipendio", "Stipendio", 2024, 5, 1, 1)

In [5]:
wallet.total_category("Food")

-139

In [6]:
wallet.list_all()

  Amount   Category Description     Y  M  D Type
0    -25       Food        Cena  2024  4  2    0
1   -100       Food       Pizza  2024  5  1    0
2    -10      Sport    Calcetto  2024  5  3    0
3    -70   Bollette        Luce  2024  4  5    0
4    -14       Food       spesa  2024  5  7    0
5    -33   Bollette         gas  2024  3  1    0
6   1000  Stipendio   Stipendio  2024  5  1    1

In [7]:
# salva un csv con i dati
wallet.df.to_csv("wallet.csv", index=False)

In [53]:
wallet.categories

array(['Food', 'Sport', 'Bollette', 'Stipendio'], dtype=object)

In [40]:
wallet.total()

-252

In [41]:
wallet.total_category("Food")

-139

In [42]:
wallet.list_category("Food")

  Amount Category Description     Y  M  D Type
0    -25     Food        Cena  2024  4  2    0
1   -100     Food       Pizza  2024  5  1    0
4    -14     Food       spesa  2024  5  7    0

In [43]:
wallet.total_month(5)

-49

In [44]:
wallet.list_month(5)

  Amount Category Description     Y  M  D Type
0    -25     Food        Cena  2024  4  2    0
2    -10    Sport    Calcetto  2024  5  3    0
4    -14     Food       spesa  2024  5  7    0

In [45]:
wallet.add(1000, "Stipendio", "Stipendio", 2024, 5, 15, 1)
wallet.list_all()

/tmp/ipykernel_4724/24822447.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  self.df = self.df.append({'Amount': amount, 'Category': category, 'Description': description, 'Y': y, 'M': m, 'D': d, 'Type': type}, ignore_index=True)

  Amount   Category Description     Y  M   D Type
0    -25       Food        Cena  2024  4   2    0
1   -100       Food       Pizza  2024  5   1    0
2    -10      Sport    Calcetto  2024  5   3    0
3    -70   Bollette        Luce  2024  4   5    0
4    -14       Food       spesa  2024  5   7    0
5    -33   Bollette         gas  2024  3   1    0
6   1000  Stipendio   Stipendio  2024  5  15    1

In [46]:
wallet.total()

748

In [47]:
# create a GUI with tkinter

import tkinter as tk


class WalletApp:
    def __init__(self):
        self.wallet = wallet()

        self.window = tk.Tk()
        self.window.title("Wallet App")

        self.amount_label = tk.Label(self.window, text="Amount")
        self.amount_label.pack()

        self.amount_entry = tk.Entry(self.window)
        self.amount_entry.pack()

        self.category_label = tk.Label(self.window, text="Category")
        self.category_label.pack()

        self.category_entry = tk.Entry(self.window)
        self.category_entry.pack()

        self.description_label = tk.Label(self.window, text="Description")
        self.description_label.pack()

        self.description_entry = tk.Entry(self.window)
        self.description_entry.pack()

        self.y_label = tk.Label(self.window, text="Year")
        self.y_label.pack()

        self.y_entry = tk.Entry(self.window)
        self.y_entry.pack()

        self.m_label = tk.Label(self.window, text="Month")
        self.m_label.pack()

        self.m_entry = tk.Entry(self.window)
        self.m_entry.pack()

        self.d_label = tk.Label(self.window, text="Day")
        self.d_label.pack()

        self.d_entry = tk.Entry(self.window)
        self.d_entry.pack()

        self.type_label = tk.Label(self.window, text="Type")
        self.type_label.pack()

        self.type_entry = tk.Entry(self.window)
        self.type_entry.pack()

        self.add_button = tk.Button(self.window, text="Add", command=self.add)
        self.add_button.pack()

        self.total_button = tk.Button(self.window, text="Total", command=self.total)
        self.total_button.pack()

        self.total_category_button = tk.Button(
            self.window, text="Total Category", command=self.total_category
        )
        self.total_category_button.pack()

        self.list_category_button = tk.Button(
            self.window, text="List Category", command=self.list_category
        )
        self.list_category_button.pack()

        self.total_month_button = tk.Button(
            self.window, text="Total Month", command=self.total_month
        )
        self.total_month_button.pack()

        self.list_month_button = tk.Button(
            self.window, text="List Month", command=self.list_month
        )
        self.list_month_button.pack()

        self.list_all_button = tk.Button(
            self.window, text="List All", command=self.list_all
        )
        self.list_all_button.pack()

    def add(self):
        amount
        category
        description
        y
        m
        d
        type

In [48]:
# prova
app = WalletApp()
app.window.mainloop()

TypeError: 'wallet' object is not callable

In [20]:
w = Wallet()
w.add(25, "Food", "Cena", 2024, 4, 2, 0)

In [24]:
w

  Amount   Category Description     Y  M  D Type
0    -25       Food        Cena  2024  4  2    0
1   -100       Food       Pizza  2024  5  1    0
2     10  Stipendio   stipendio  2024  5  3    1

In [22]:
w.add(100, "Food", "Pizza", 2024, 5, 1, 0)
w.add(10, "Stipendio", "stipendio", 2024, 5, 3, 1)

In [23]:
w.amount

135

In [28]:
w.outcome

-125

In [5]:
import pandas as pd

# Description: This file contains the class wallet, which is used to manage the wallet of the user.


class Wallet:
    def __init__(self):
        self.df = pd.DataFrame(
            columns=["Amount", "Category", "Description", "Y", "M", "D", "Type"]
        )
        self.outcome = self.df[self.df["Type"] == 0]["Amount"].sum()
        self.income = self.df[self.df["Type"] == 1]["Amount"].sum()
        self.amount = self.income - self.outcome
        self.categories = self.df["Category"].unique()
        self.start_date = (
            self.df["Y"].min(),
            self.df[self.df["Y"] == self.df["Y"].min()]["M"].min(),
        )
        self.end_date = (
            self.df["Y"].max(),
            self.df[self.df["Y"] == self.df["Y"].max()]["M"].max(),
        )

    def add(
        self,
        amount: float,
        category: str,
        description: str,
        y: int,
        m: int,
        d: int,
        type: bool = 0,
    ):

        if type == 0:
            amount = -amount

        # non usare append, è lento
        self.df = pd.concat(
            [
                self.df,
                pd.DataFrame(
                    {
                        "Amount": [amount],
                        "Category": [category],
                        "Description": [description],
                        "Y": [y],
                        "M": [m],
                        "D": [d],
                        "Type": [type],
                    }
                ),
            ],
            ignore_index=True,
        )

        self.outcome = self.df[self.df["Type"] == 0]["Amount"].sum()
        self.income = self.df[self.df["Type"] == 1]["Amount"].sum()
        self.amount = self.income + self.outcome
        self.categories = self.df["Category"].unique()
        self.start_date = (
            self.df["Y"].min(),
            self.df[self.df["Y"] == self.df["Y"].min()]["M"].min(),
        )
        self.end_date = (
            self.df["Y"].max(),
            self.df[self.df["Y"] == self.df["Y"].max()]["M"].max(),
        )

    def total(self):
        return self.df["Amount"].sum()

    def total_category(self, category):
        return self.df[self.df["Category"] == category]["Amount"].sum()

    def total_month(self, m):
        return self.df[self.df["M"] == m]["Amount"].sum()

    def list_category(self, category):
        return self.df[self.df["Category"] == category]

    def list_month(self, m):
        return self.df[self.df["M"] == m]

    def list_all(self):
        return self.df

    def list_income(self):
        return self.df[self.df["Type"] == 1]

    def list_outcome(self):
        return self.df[self.df["Type"] == 0]

    def get_income_category(self, category):
        return self.df[(self.df["Type"] == 1) & (self.df["Category"] == category)]

    def get_outcome_category(self, category):
        return self.df[(self.df["Type"] == 0) & (self.df["Category"] == category)]

    def read_csv(self, path):
        self.df = pd.read_csv(path)
        self.outcome = self.df[self.df["Type"] == 0]["Amount"].sum()
        self.income = self.df[self.df["Type"] == 1]["Amount"].sum()
        self.amount = self.income + self.outcome
        self.categories = self.df["Category"].unique()
        self.start_date = (
            self.df["Y"].min(),
            self.df[self.df["Y"] == self.df["Y"].min()]["M"].min(),
        )
        self.end_date = (
            self.df["Y"].max(),
            self.df[self.df["Y"] == self.df["Y"].max()]["M"].max(),
        )

    def __repr__(self) -> str:
        return self.df.__repr__()

    def __str__(self) -> str:
        return self.df.__str__()

    def __len__(self):
        return self.df.__len__()

    def __iter__(self):
        return self.df.__iter__()

In [6]:
w = Wallet()
w.read_csv("wallet.csv")
w

    Amount        Category Description     Y  M   D  Type
0    -25.0            Food        Cena  2024  4   2     0
1   -100.0            Food       Pizza  2024  5   1     0
2    -10.0           Sport    Calcetto  2024  5   3     0
3    -70.0        Bollette        Luce  2024  4   5     0
4    -14.0            Food       spesa  2024  5   7     0
5    -33.0        Bollette         gas  2024  3   1     0
6   1000.0         Entrate   Stipendio  2024  5   1     1
7     -1.0           Spesa       denti  2024  6  10     0
8     -3.0           Spesa       spesa  2023  6  10     0
9    -11.0            Casa         NaN  2022  3   1     0
10  -133.0            Auto        benz  2024  6  10     0
11   -54.0  Mangiare Fuori         NaN  2024  6  10     0
12   -12.0            Auto         aaa  2024  6  10     0

In [17]:
# solo food
w.df[w.df["Category"] == "Food"]["Amount"].sum()

-139.0

In [10]:
w.get_outcome_category("Food")

   Amount Category Description     Y  M  D  Type
0   -25.0     Food        Cena  2024  4  2     0
1  -100.0     Food       Pizza  2024  5  1     0
4   -14.0     Food       spesa  2024  5  7     0

In [9]:
w.get_outcome_category("Food")["Amount"].sum()

-139.0

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from classes import Wallet

In [2]:
w = Wallet()
w.read_csv("wallet.csv")

In [3]:
w.df

    Amount        Category    Description     Y  M   D  Type
0    -25.0           Spesa           Cena  2024  4   2     0
1   -100.0           Spesa          Pizza  2024  5   1     0
2    -10.0           Sport       Calcetto  2024  5   3     0
3    -70.0        Bollette           Luce  2024  4   5     0
4    -14.0           Spesa          spesa  2024  5   7     0
5    -33.0        Bollette            gas  2024  3   1     0
6   1000.0         Entrate      Stipendio  2024  5   1     1
7     -3.0           Spesa          spesa  2023  6  10     0
8    -11.0            Casa            NaN  2022  3   1     0
9   -133.0            Auto           benz  2024  6  10     0
10  1300.0         Entrate     Stipendio2  2024  6   1     1
11   -54.0  Mangiare Fuori            NaN  2024  6  10     0
12   -12.0            Auto            aaa  2024  6  10     0
13  -134.0        Bollette  bolletta oggi  2024  6  11     0
14    -1.0            Casa    dentifricio  2024  6  11     0

In [10]:
w.delete(0)
w.df

    Amount        Category    Description     Y  M   D  Type
1   -100.0           Spesa          Pizza  2024  5   1     0
2    -10.0           Sport       Calcetto  2024  5   3     0
3    -70.0        Bollette           Luce  2024  4   5     0
4    -14.0           Spesa          spesa  2024  5   7     0
5    -33.0        Bollette            gas  2024  3   1     0
6   1000.0         Entrate      Stipendio  2024  5   1     1
7     -3.0           Spesa          spesa  2023  6  10     0
8    -11.0            Casa            NaN  2022  3   1     0
9   -133.0            Auto           benz  2024  6  10     0
10  1300.0         Entrate     Stipendio2  2024  6   1     1
11   -54.0  Mangiare Fuori            NaN  2024  6  10     0
12   -12.0            Auto            aaa  2024  6  10     0
13  -134.0        Bollette  bolletta oggi  2024  6  11     0
14    -1.0            Casa    dentifricio  2024  6  11     0

In [3]:
df = w.df

In [7]:
df

    Amount        Category Description     Y  M   D  Type
0    -25.0           Spesa        Cena  2024  4   2     0
1   -100.0           Spesa       Pizza  2024  5   1     0
2    -10.0           Sport    Calcetto  2024  5   3     0
3    -70.0        Bollette        Luce  2024  4   5     0
4    -14.0           Spesa       spesa  2024  5   7     0
5    -33.0        Bollette         gas  2024  3   1     0
6   1000.0         Entrate   Stipendio  2024  5   1     1
7     -1.0           Spesa       denti  2024  6  10     0
8     -3.0           Spesa       spesa  2023  6  10     0
9    -11.0            Casa         NaN  2022  3   1     0
10  -133.0            Auto        benz  2024  6  10     0
11  1300.0         Entrate  Stipendio2  2024  6   1     1
12   -54.0  Mangiare Fuori         NaN  2024  6  10     0
13   -12.0            Auto         aaa  2024  6  10     0

In [28]:
dd = df.groupby(["M", "Y", "Type"])["Amount"].sum().reset_index()
dd

   M     Y  Type  Amount
0  3  2022     0   -11.0
1  3  2024     0   -33.0
2  4  2024     0   -95.0
3  5  2024     0  -124.0
4  5  2024     1  1000.0
5  6  2023     0    -3.0
6  6  2024     0  -200.0
7  6  2024     1  1300.0

In [29]:
dd.sort_values(by=["Y", "M"])

   M     Y  Type  Amount
0  3  2022     0   -11.0
5  6  2023     0    -3.0
1  3  2024     0   -33.0
2  4  2024     0   -95.0
3  5  2024     0  -124.0
4  5  2024     1  1000.0
6  6  2024     0  -200.0
7  6  2024     1  1300.0

In [14]:
# genera un csv con i dati simulati
import random

df = pd.DataFrame(columns=["Amount", "Category", "Description", "Y", "M", "D", "Type"])

for i in range(100):
    df = df.append(
        {
            # Amount casuale tra -1 e -100
            "Amount": -random.randint(1, 100),
            "Category": random.choice(
                [
                    "Spesa",
                    "Sport",
                    "Bollette",
                    "Auto",
                    "Casa",
                    "Mangiare Fuori",
                    "Entrate",
                    "Altro",
                ]
            ),
            "Description": "Description",
            # Anno casuale tra 2021 e 2024,  al 10% 2021, al 10% 2022, al 10% 2023, al 70% 2024
            "Y": random.choices([2021, 2022, 2023, 2024], weights=[0.1, 0.1, 0.1, 0.7])[
                0
            ],
            "M": random.randint(1, 12),
            "D": random.randint(1, 31),
            # Type con 90% di probabilità di essere 0 e 10% di probabilità di essere 1
            "Type": 0,
        },
        ignore_index=True,
    )
# se category è Entrate, allora Type è 1 e Amount è positivo
df.loc[df["Category"] == "Entrate", "Type"] = 1
df.loc[df["Category"] == "Entrate", "Amount"] = -df["Amount"]

df.to_csv("wallet_sim_2.csv", index=False)

/tmp/ipykernel_25136/3515363618.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(
/tmp/ipykernel_25136/3515363618.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(
/tmp/ipykernel_25136/3515363618.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(
/tmp/ipykernel_25136/3515363618.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(
/tmp/ipykernel_25136/3515363618.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(
/tmp/ipykernel_25136/3515363618.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(
/tmp/ipykernel_25136/3515363618.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(
/tmp/ipykernel_25136/3515363618.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(
/tmp/ipykernel_25136/3515363618.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(
/tmp/ipykernel_25136/3515363618.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(
/tmp/ipykernel_25136/3515363618.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(
/tmp/ipykernel_25136/3515363618.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(
/tmp/ipykernel_25136/3515363618.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(
/tmp/ipykernel_25136/3515363618.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(
/tmp/ipykernel_25136/3515363618.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(
/tmp/ipykernel_25136/3515363618.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(
/tmp/ipykernel_25136/3515363618.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(
/tmp/ipykernel_25136/3515363618.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(
/tmp/ipykernel_25136/3515363618.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(
/tmp/ipykernel_25136/3515363618.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(
/tmp/ipykernel_25136/3515363618.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(
/tmp/ipykernel_25136/3515363618.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(
/tmp/ipykernel_25136/3515363618.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(
/tmp/ipykernel_25136/3515363618.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(
/tmp/ipykernel_25136/3515363618.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(
/tmp/ipykernel_25136/3515363618.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(
/tmp/ipykernel_25136/3515363618.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(
/tmp/ipykernel_25136/3515363618.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(
/tmp/ipykernel_25136/3515363618.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(
/tmp/ipykernel_25136/3515363618.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(
/tmp/ipykernel_25136/3515363618.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(
/tmp/ipykernel_25136/3515363618.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(
/tmp/ipykernel_25136/3515363618.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(
/tmp/ipykernel_25136/3515363618.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(
/tmp/ipykernel_25136/3515363618.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(
/tmp/ipykernel_25136/3515363618.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(
/tmp/ipykernel_25136/3515363618.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(
/tmp/ipykernel_25136/3515363618.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(
/tmp/ipykernel_25136/3515363618.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(
/tmp/ipykernel_25136/3515363618.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(
/tmp/ipykernel_25136/3515363618.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(
/tmp/ipykernel_25136/3515363618.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(
/tmp/ipykernel_25136/3515363618.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(
/tmp/ipykernel_25136/3515363618.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(
/tmp/ipykernel_25136/3515363618.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(
/tmp/ipykernel_25136/3515363618.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(
/tmp/ipykernel_25136/3515363618.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(
/tmp/ipykernel_25136/3515363618.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(
/tmp/ipykernel_25136/3515363618.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(
/tmp/ipykernel_25136/3515363618.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(
/tmp/ipykernel_25136/3515363618.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(
/tmp/ipykernel_25136/3515363618.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(
/tmp/ipykernel_25136/3515363618.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(
/tmp/ipykernel_25136/3515363618.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(
/tmp/ipykernel_25136/3515363618.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(
/tmp/ipykernel_25136/3515363618.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(
/tmp/ipykernel_25136/3515363618.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(
/tmp/ipykernel_25136/3515363618.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(
/tmp/ipykernel_25136/3515363618.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(
/tmp/ipykernel_25136/3515363618.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(
/tmp/ipykernel_25136/3515363618.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(
/tmp/ipykernel_25136/3515363618.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(
/tmp/ipykernel_25136/3515363618.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(
/tmp/ipykernel_25136/3515363618.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(
/tmp/ipykernel_25136/3515363618.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(
/tmp/ipykernel_25136/3515363618.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(
/tmp/ipykernel_25136/3515363618.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(
/tmp/ipykernel_25136/3515363618.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(
/tmp/ipykernel_25136/3515363618.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(
/tmp/ipykernel_25136/3515363618.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(
/tmp/ipykernel_25136/3515363618.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(
/tmp/ipykernel_25136/3515363618.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(
/tmp/ipykernel_25136/3515363618.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(
/tmp/ipykernel_25136/3515363618.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(
/tmp/ipykernel_25136/3515363618.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(
/tmp/ipykernel_25136/3515363618.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(
/tmp/ipykernel_25136/3515363618.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(
/tmp/ipykernel_25136/3515363618.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(
/tmp/ipykernel_25136/3515363618.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(
/tmp/ipykernel_25136/3515363618.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(
/tmp/ipykernel_25136/3515363618.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(
/tmp/ipykernel_25136/3515363618.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(
/tmp/ipykernel_25136/3515363618.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(
/tmp/ipykernel_25136/3515363618.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(
/tmp/ipykernel_25136/3515363618.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(
/tmp/ipykernel_25136/3515363618.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(
/tmp/ipykernel_25136/3515363618.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(
/tmp/ipykernel_25136/3515363618.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(
/tmp/ipykernel_25136/3515363618.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(
/tmp/ipykernel_25136/3515363618.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(
/tmp/ipykernel_25136/3515363618.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(
/tmp/ipykernel_25136/3515363618.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(
/tmp/ipykernel_25136/3515363618.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(
/tmp/ipykernel_25136/3515363618.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(
/tmp/ipykernel_25136/3515363618.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(
/tmp/ipykernel_25136/3515363618.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(
/tmp/ipykernel_25136/3515363618.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(
/tmp/ipykernel_25136/3515363618.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(
/tmp/ipykernel_25136/3515363618.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(
/tmp/ipykernel_25136/3515363618.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(

In [1]:
from PIL import Image

# Open the image file
img = Image.open("img.webp")

# Convert the image to ICO format and save it
img.save("profile_picture.ico", format="ICO", sizes=[(32, 32)])