In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from cycler import cycler
from wallet import *
from GUI import *
import os

In [2]:
w = Wallet()
w.read_csv("./dati/wallet.csv")

In [3]:
w.df

   ID   Amount        Category           Description     Y   M   D  Type
0   0    -8.30  Mangiare Fuori           cena andrea  2024   6  14     0
1   1    -8.30  Mangiare Fuori           cena andrea  2024   6  12     0
2   2    95.40         Entrate       saldo evolution  2023  13  31     1
3   3  3269.95         Entrate  saldo conto corrente  2023  12  31     1