In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from cycler import cycler
from wallet import *
from GUI import *
import os

In [10]:
df = pd.read_csv("./dati/wallet_sim_sort_id.csv")

In [11]:
df

    ID  Amount        Category  Description     Y   M   D  Type
0    0     -97            Casa  Description  2024  12  31     0
1    1     -98        Bollette  Description  2024  12  28     0
2    2     -30           Altro  Description  2024  12   8     0
3    3     -79  Mangiare Fuori  Description  2024  12   6     0
4    4     -39            Auto  Description  2024  12   5     0
..  ..     ...             ...          ...   ...  ..  ..   ...
95  95      -3        Bollette  Description  2021   6  12     0
96  96     -53  Mangiare Fuori  Description  2021   5  29     0
97  97     -49           Spesa  Description  2021   4  23     0
98  98      45         Entrate  Description  2021   3  25     1
99  99     -61  Mangiare Fuori  Description  2021   3  14     0

[100 rows x 8 columns]

    ID        Category  Description     Y   M   D  Type       Conto  Amount
0    0            Casa  Description  2024  12  31     0  bancoposta     -97
1    1        Bollette  Description  2024  12  28     0   evolution     -98
2    2           Altro  Description  2024  12   8     0    contanti     -30
3    3  Mangiare Fuori  Description  2024  12   6     0    contanti     -79
4    4            Auto  Description  2024  12   5     0  bancoposta     -39
..  ..             ...          ...   ...  ..  ..   ...         ...     ...
95  95        Bollette  Description  2021   6  12     0   evolution      -3
96  96  Mangiare Fuori  Description  2021   5  29     0   evolution     -53
97  97           Spesa  Description  2021   4  23     0    contanti     -49
98  98         Entrate  Description  2021   3  25     1    contanti      45
99  99  Mangiare Fuori  Description  2021   3  14     0   evolution     -61

[100 rows x 9 columns]

In [12]:
import random

# aggiungi una colonna "Conto" con valori random tra 0 e 1 e 2
df["Conto"] = [random.randint(0, 2) for i in range(len(df))]

In [13]:
# metti i valori di "Conto" random tra "bancoposta" e "evolution" e "contanti"
df["Conto"] = df["Conto"].replace(0, "bancoposta")
df["Conto"] = df["Conto"].replace(1, "evolution")
df["Conto"] = df["Conto"].replace(2, "contanti")

In [14]:
# sposta la colonna conto al posto della colonna Type e viceversa
cols = list(df.columns)
a, b = cols.index("Type"), cols.index("Conto")
cols[b], cols[a] = cols[a], cols[b]
df = df[cols]
df

    ID  Amount        Category  Description     Y   M   D       Conto  Type
0    0     -97            Casa  Description  2024  12  31    contanti     0
1    1     -98        Bollette  Description  2024  12  28   evolution     0
2    2     -30           Altro  Description  2024  12   8  bancoposta     0
3    3     -79  Mangiare Fuori  Description  2024  12   6   evolution     0
4    4     -39            Auto  Description  2024  12   5  bancoposta     0
..  ..     ...             ...          ...   ...  ..  ..         ...   ...
95  95      -3        Bollette  Description  2021   6  12   evolution     0
96  96     -53  Mangiare Fuori  Description  2021   5  29   evolution     0
97  97     -49           Spesa  Description  2021   4  23   evolution     0
98  98      45         Entrate  Description  2021   3  25    contanti     1
99  99     -61  Mangiare Fuori  Description  2021   3  14  bancoposta     0

[100 rows x 9 columns]

In [15]:
df.to_csv("./dati/wallet_sim_sort_id_conto.csv", index=False)

In [2]:
w = Wallet()
w.read_csv("./dati/wallet.csv")

In [3]:
w.df

   ID   Amount        Category           Description     Y   M   D  Type
0   0    -8.30  Mangiare Fuori           cena andrea  2024   6  14     0
1   1    -8.30  Mangiare Fuori           cena andrea  2024   6  12     0
2   2    95.40         Entrate       saldo evolution  2023  13  31     1
3   3  3269.95         Entrate  saldo conto corrente  2023  12  31     1